{{ define "main" }}
<div class="blog">

  <article>
    <p class="strip-margins strip-padding">Here I share my random musings and thoughts about the world here: philosophy, programming, learning experiences, and other things of interest.</p>
  </article>


  {{ $posts := .Pages.ByDate }}
  {{ $postCount := len $posts }}

  {{ range first 10 $posts }}

  <article class="blog-item" data-href="{{ .RelPermalink }}">
    <h2>{{ .Title }} <span class="subtext">{{ .Lastmod.Format "Monday, January 2, 2006" }}</span></h2>
    {{ with .Params.Description }}
      <p> {{ . }}</p>
    {{ end }}

    <a class="blog-link" href="{{ .RelPermalink }}">Read</a>
  </article>

  {{ end }}

  {{ if eq $postCount 0 }}
    <div class="centered no-posts-message">
      <p>There doesn't appear to be any posts just yet</p>
    </div>
  {{ end }}


</div>
{{ end }}

{{ define "footer" }}
  {{ partial "social-links.html" }}
{{ end }}

