{{ define "main" }}

<div class="blog-post">

  <article>

    <div class="header">

      {{ with .Params.image }}
      <div class="header-image">
        <img src="{{ . }}" alt="">
      </div>
      {{ end }}

      {{ with .Params.title }}
      <div class="header-title">
        <h1 class="strip-margins strip-padding">{{ . }}</h1>
      </div>
      {{ end }}

      <div class="last-modified">
        {{ .Lastmod.Format "Monday, January 22, 2006" }}
      </div>

    </div>

    {{ .Content }}

  </article>

</div>

{{ end }}

{{ define "pre-navigation" }}
  <a class="button-link heading-6" href="..">Go Back</a>
{{ end }}
