<!DOCTYPE html>
<html>

  {{ partial "base/head.html" . }}

  <body>

    <div class="mobile-navigation">
      <div class="nav-toggle">
        <span>MENU</span>
      </div>
    </div>

    <nav class="navigation">

      {{ block "pre-navigation" . }}
      {{ end }}

      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/blog">Blog</a>
      <a href="/projects">Projects</a>
      <a href="/experience">Work History</a>

      {{ block "navigation" . }}
      {{ end }}
    </nav>

    <div class="content">

      {{ partial "base/heading.html" . }}

      {{ block "main" . }}
      {{ end }}

      {{ block "footer" . }}
      {{ end }}

    </div>

    {{ partial "base/scripts.html" . }}
  </body>

</html>
