{{ define "main" }}

<div class="about">

  <article>

    <h4>Hi, I'm Jonathan!</h4>

    <p>I am 24, and have been coding since I was around 14. It started with wanting to make video games, which led to wanting to hack them. I realized I didn’t really understand what was going on (having never coded before), so I decided I’d learn C++.</p>

    <p>C++ led me to C#, where I created little Windows Forms applications for the Garry’s Mod community I was a part of. The first time someone used software I made, I was absolutely hooked.</p>

    <hr style="margin-top: 20pt; margin-bottom: 20pt;">

    <h4>What am I doing now?</h4>

    <p>I recently stumbled upon 2 separate philosophies for life that I am writing a book on. The complementary parts of Stoicism and Taoism for everyday life.</p>

    <p>I’m looking for an intermediate programming position with a larger company, and am interested in a greater work-life balance. I spent the last 5 years putting everything in my life on hold for career, and I’m looking to explore more of what life has to offer.</p>

  </article>
</div>

{{ partial "social-links.html" . }}


{{ end }}
