{{ define "main" }}

<h4 class="message" style="text-align: center;">
  Note: Website is currently under construction.
</h4>

<div class="home-links">

  <button class="outline">
    <a class="button-link" href="/about">About</a>
  </button>
  <button class="outline">
    <a class="button-link" href="/blog">Blog</a>
  </button>
  <button class="outline">
    <a class="button-link" href="/projects">Projects</a>
  </button>
  <button class="outline">
    <a class="button-link" href="/experience">Experience</a>
  </button>

</div>

<div class="social-links">

  <!-- Github, Facebook, Twitter, LinkedIn, Email -->

</div>

{{ end }}
