{{ define "main" }}

<div class="blog-post">

  <article>

    <div class="header">

      {{ with .Params.image }}
        <div class="header-image">
          <img src="{{ . }}" alt="">
        </div>
      {{ end }}

      {{ with .Params.title }}
        <div class="header-title">
          <h1 class="strip-margins strip-padding">{{ . }}</h1>
        </div>
      {{ end }}

      {{ if .Params.dates.end }}
      <div class="last-modified">
        {{ dateFormat "January 2, 2006" .Params.dates.start }} to {{ dateFormat "January 2, 2006" .Params.dates.end }}
      </div>
      {{ end }}

      {{ if not .Params.dates.end }}
      <div class="last-modified">
        {{ dateFormat "January 2, 2006" .Params.dates.start }} - Current
      </div>
      {{ end }}
    </div>

    {{ .Content }}

    <div class="traversal-buttons">
      {{ $data := where .Site.RegularPages "Section" .Section }}
      {{ $pages := $data.ByParam "order" }}
      {{ with $pages.Prev . }}
      <button class="outline prev">
        <a class="button-link" href="{{ .RelPermalink }}">Previous</a>
      </button>
      {{ end }}

      {{ with $pages.Next . }}
      <button class="outline next">
        <a class="button-link" href="{{ .RelPermalink }}">Next</a>
      </button>
      {{ end }}
    </div>

  </article>

</div>

{{ end }}

{{ define "pre-navigation" }}
  <a href="..">Go Back</a>
{{ end }}
