nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min-content;
  color: white;
  position: sticky;
  top: 10pt;
  left: 10pt;

  a {
    white-space: nowrap;
  }

  a + a {
    margin-left: 10pt;
  }
}

.content {
  max-width: 650pt;

  .heading {
    text-align: center;

    @include respond-to('small') {
      margin-top: 15pt;
    }

    @include respond-to('medium') {
      margin-top: 40pt;
    }

    .avatar {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20pt;

      img {
        width: 100pt;
        height: 100%;
        border-radius: 400px;

        @include respond-to('small') {
          width: 120pt;
        }

        @include respond-to('medium') {
          width: 180pt;
        }
      }
    }
  }

  .title {
    margin: 0;
  }

  .subtitle {
    font-size: 12pt;

    @include respond-to('medium') {
      font-size: initial;
    }
  }
}
